:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#app {
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  margin: 5px;
  margin-top: 2px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 2px white solid !important;
  outline: #979797 solid thin;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="radio"]+label {
  transition: all 0.3s ease-in-out;
}

input[type="radio"]:checked {
  color: #32b1f4;
  background-color: #32b1f4;
  border-color: #32b1f4;
  outline: #32b1f4 solid thin;
}

input[type="radio"]:checked+label {
  color: #32b1f4;
}


.nikkeInput {
  flex: 1;
  padding: 1px 5px;
  border: 1px #2b2b2b3d solid;
  border-radius: 5px;
  min-height: 25px;
  transition: all .4s ease-in-out;
  outline-color: transparent;
}

.nikkeInput:focus {
  outline-color: #32b1f4;
}

/* @font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('./assets/fonts/webfont.eot');
  src: url('./assets/fonts/webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/webfont.woff2') format('woff2'),
    url('./assets/fonts/webfont.woff') format('woff'),
    url('./assets/fonts/webfont.ttf') format('truetype'),
    url('./assets/fonts/webfont.svg#webfont') format('svg');
} */

@font-face {
  font-family: "sourcehansans";
  src:
    url("./assets/fonts/SourceHanSansSC-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "sourcehansans";
}

.contentBox {
  overflow: hidden;
}

.pcontent>span {
  font-size: 12px;
  min-width: 96px;
  /*限制宽度*/
  overflow: hidden;
  text-overflow: ellipsis;
}